
/* Le code CSS spécifique à la page d'accueil */
.texte, i{
    border: solid 3px black;
}
.i{
    border-radius: 2px;
    border: 6px solid #000;
}
.rouge{
    background: var(--red);
    border-radius: 20px;
    margin-right: 54px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 819px;
    height: 244px;
}
.jaune{
    background: #FFF455;
    border-radius: 20px;
}
.bleu{
    background: #00b8d0;
    border-radius: 20px;
}

.bagel{
    font-family: "Bagel Fat One", system-ui;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

body{
margin: 0;
}
.lien{
color: white;
text-decoration: none;
font-weight: 500;
transition: all .3s ease-in-out;
gap: 0px;
}


#home-header{
    background-image: url('background.jpg');
}

.img{
display: flex;
height: 39px;
align-self: stretch;
}
footer{
    text-align: center;
    background-color: #254977;
    padding: 8px;
}
.phone{
    height: 30%;
}
.no1{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-end;
}
#contexte{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
    background-color: #FF4B3E; 
  padding: 20px;
}
.ima{

width: 722.663px;
height: 482px;
  height: auto;
  border: 5px solid black; /* optionnel pour encadrer comme sur l’image */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.a{
width: 300px;
height: 200px;
flex-shrink: 0;
background-color: rgba(0, 184, 208, 0.57); 
border-radius: 20px;
color: #000;

text-align: center;
font-family: "DM Sans";
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: flex;
align-items: center;
}
.b{
width: 300px;
height: 200px;
flex-shrink: 0;
background-color: #FFF455;  
border-radius: 20px;
color: #000;

text-align: center;
font-family: "DM Sans";
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: flex;
align-items: center;
}
.c{
width: 300px;
height: 200px;
flex-shrink: 0;
background-color: #FFFEFD;  
border-radius: 20px;
color: #000;

text-align: center;
font-family: "DM Sans";
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: flex;
align-items: center;
}
/* FONCTIONNALITES*/
#fonctionnalites{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
#fonctionnalites h3{
width: 1006px;
height: 357px;
display: flex;
width: 575px;
height: 131px;
flex-direction: column;
justify-content: center;
}
.fonction{
    display: flex;
    gap: 30px;
    padding: 10px;
}

.fonction .texte, .fonction .image{
    width: 50%;
    height: 100%;
}
.fonction .texte, #temoignage .texte{
    padding: 15px;
}
#temoignage{background: #FFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(37, 73, 119, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    flex-direction: row-reverse;
}
#temoignage h2{
    margin-right: 40%;
    color: black;
}

.telechangement{
    display: flex;
    gap: 27px;
    margin-right: 30%;
    padding-top: 30px;
}

/* 
.d{
padding: 10px;
width: 1006px;
height: 357px;
flex-shrink: 0;
border-radius: 20px;
background: rgba(0, 184, 208, 0.57);
display: flex;
width: 575px;
height: 131px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.e{
padding: 10px;
width: 1239px;
height: 365px;
flex-shrink: 0;
border-radius: 20px;
background: var(--mundo-yellow, #FFF455);
display: flex;
width: 575px;
height: 131px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.f{
padding: 10px;
width: 955px;
height: 346px;
flex-shrink: 0;
border-radius: 20px;
background: #FF4B3E;
display: flex;
width: 575px;
height: 131px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
} */